<% layout("/layouts/boilerplate") %>
<body class="bg-slate-800 text-slate-100">
  <div class="container px-10 min-h-screen min-w-screen">
    <h2 class="text-2xl font-semibold pt-8 pb-5">Edit Book</h2>

    <a href="/books" class="inline-block my-6">
      <button
        class="border-[1px] border-black px-2 py-1 rounded-md bg-slate-950 hover:bg-slate-900 duration-300 cursor-pointer"
      >
        Back to Books
      </button>
    </a>

    <form
      class="block w-5xl"
      method="POST"
      action="/book/<%= aBook._id %>?_method=PUT"
    >
      <input
        class="px-2 py-1 my-2 w-full outline-none border-[1px] border-black"
        type="text"
        name="book[title]"
        value="<%= aBook.title %>"
        required
      />
      <input
        class="px-2 py-1 my-2 w-full outline-none border-[1px] border-black"
        type="text"
        name="book[description]"
        required
        value="<%= aBook.description %>"
      />
      <input
        class="px-2 py-1 my-2 w-full outline-none border-[1px] border-black"
        type="text"
        name="book[image]"
        required
        value="<%= aBook.image %>"
      />
      <input
        class="px-2 py-1 my-2 w-full outline-none border-[1px] border-black"
        type="text"
        name="book[author]"
        required
        value="<%= aBook.author %>"
      />
      <input
        class="px-2 py-1 my-2 w-full outline-none border-[1px] border-black"
        type="text"
        name="book[language]"
        required
        value="<%= aBook.language %>"
      />
      <input
        class="px-2 py-1 my-2 w-full outline-none border-[1px] border-black"
        type="number"
        name="book[price]"
        required
        value="<%= aBook.price %>"
      />
      <input
        class="px-2 py-1 my-2 w-full outline-none border-[1px] border-black rounded-md cursor-pointer bg-teal-800 hover:bg-teal-900 duration-300"
        type="submit"
        value="Update Book"
      />
    </form>
  </div>
</body>
